*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
gradle/wrapper/*.zip

# archived (non-built) web dashboard
legacy-web-dashboard/node_modules/
legacy-web-dashboard/dist/
